.card-container{
    margin:0 1rem 2rem;
    padding:1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(109, 109, 109, 0.3);
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}