/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: rgb(0, 0,25);;}

/* Navigation */
/* nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #4e73df;
    color: #fff
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.main-nav li:first-child {
    font-weight: bold;
}

.user img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}

h1,h2 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
} */

/* Top data */
.top-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #666;
}
.data-detail {
    width: 32%;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 30px;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.data-detail p {
    margin-top:0;
}
.data-detail h4 {
    margin-bottom: 0;
}

/* Categorías */
.general-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:white;
    padding: 20px 20px 10px 20px;
}
.general-data .card {
    width: 32%;
    border-radius: 4px;
    background-color: #36b9cc;
    margin-bottom: 10px;
    padding: 0 20px;
    color: #fff;
}


/*Characters*/
.card-container{
    margin: 30px;
    align-items: flex-start;
    flex-wrap:wrap ;
    justify-content: center;
    width: 30;

}

/* Listas home */
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    
}

@keyframes cambio {
    0% {margin-left:0; }
    20% {margin-left:0; }

    25% {margin-left:-100%; }
    45% {margin-left:-100%; }

    50% {margin-left:-200%; }
    75% {margin-left:-200%; }

    80% {margin-left:-300%; }
    100% {margin-left:-300%; }
}

/* diseño tablet */
@media(max-width: 768px){
    
    .titulo-container{
        width: 100%;
        text-align: center;
        margin-top: 0%;
    }
    .cajab{
        justify-content: space-around;
    }
    .responsiveheader{
        justify-content: space-around;
    }
    .logo{
        width: auto;
        height: 170px;
        margin-top: 20px;
        margin-left: 20PX;
    }
    .img{
        width: 100%;
    }
    .user{
        margin-left: 0%;
    }
    .perfil-menu{
        justify-content: right;
        margin-right: 0%;
    }
    .introhome{
        width: 100%;
    }
    .footerpic{
        width: 100%;
    }
    .albumpic{
        width: 100%;
    }
    .album{
        width:45%;
        margin:2.5%;
    }
    .formulario{
        width: 65vh;
    }
    .cajaPadre{
        width: 75vh;
    }
}
