.logo{
    border-radius: 48%;
    width: auto;
    height: 170px;
    margin-top: 20px;
    margin-left: 20PX;
}
.button{
    background-color: black;
    color: chartreuse;
    border-radius: 10px;
    border:solid 3px chartreuse;
}
.buscar{
    margin: 20px;
    margin-top: 20px;
    color: chartreuse;
}
input{
    border-radius: 10px;
    border-bottom: solid 3px chartreuse;
    color: chartreuse;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

.sound-now{
    text-decoration: none;
    font-size:40px;
    margin-right: 60px;
    color:  rgb(0, 255, 21);
}
.menu{
    color: rgb(105, 112, 98);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
   
}
.barratexto{
    color: rgb(0, 255, 21);
    font-weight: bold;
    text-decoration: none;
    margin: 15px;
}
.container{
    background-color: black;
}
.titulos{
    color: rgb(0, 255, 21);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 30px; 
    padding: 20px;
}
.user{
    color: rgb(0, 255, 234);
    text-decoration: underline;
    font-weight: bold;
    margin-left: 20px;
}
.iniciars{
    margin: 10px;
}

header{
    background-color: black;
    
}
.introhome{
    width: 100%;
}
.cajainicio{
    background-color: black;
    margin-bottom: 20px;
}
body{
    background-color: black;
}