/* footer */
footer {
    background-image: linear-gradient(to right, purple , rgb(63, 131, 194));
    text-align: center;
    padding: 40px 0;
    color:black;
    font-size: larger;
    /*position: absolute;
    bottom: 0;*/
    margin-top:5rem;
    width: 100%;
}
